@font-face {
  font-family: 'emmet';
  src: url('Resources/AlteHaasGroteskRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



body {
  font-family: 'emmet', 'helvetica', sans-serif;
  width: 100%;
  height: 100%;
  font-size: 14px;
}


.logo {
  position: fixed;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
  width: 4em;
  z-index: 5;
}

.tee {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 40%;
  transition: 1s;
}

.right-text {
  position: fixed;
  bottom: 50.4vh;
  right: 2.8vw;
}

.cta {
  position: fixed;
  bottom: 46.4vh;
  right: 2.5vw;

  letter-spacing: 0.2px;
  padding: 0.6vh 0.2vw;

  text-decoration: underline;
  text-underline-offset: 3px;
  cursor: pointer;
}

#testi {
  transition: 0.5s;
}


form {
  position: fixed;
  bottom: -16vh;
  right: 2.7vw;

  width: 80vw;
  height: 120vh;

  opacity: 0;
  pointer-events: none;
  transition: 0.9s;

  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.3);
}

.up {
  bottom: 4.4vh;
}

#exit {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 75%;
  height: 100vh;
  cursor: crosshair;
}

#first-step {
  position: absolute;
  bottom: 54.6vh;
  right: 0px;

  width: 24%;
  height: 18vh;

  transition: 0.7s;
  cursor: pointer;
}


input[type="email"] {
  all: unset;
  appearance: none;
  -webkit-appearance: none;

  position: absolute;
  bottom: 13vh;
  right: 0px;
  width: 230px;
  letter-spacing: 0.1px;

  padding-bottom: 12px;
  text-align: right;

  border: none;
  background-color: transparent;
  border-bottom: 0.7px solid rgba(0, 0, 0, 0.3);
}

input:focus {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}


.note {
  position: absolute;
  bottom: 6vh;
  right: 0px;
  width: 280px;
  text-align: right;

  font-size: 10px;
  letter-spacing: 0.2px;
  opacity: 0.3;
}


#next {
  pointer-events: none;
}


#second-step {
  transition: 0.7s;
  opacity: 0;
  pointer-events: none;

  position: absolute;
  bottom: 34.6vh;
  right: 0px;

  width: 24%;
  height: 18vh;
}


.titlino {
  position: absolute;
  bottom: 17vh;
  right: 0px;

  width: 80%;
  text-align: right;
}

.sizes {
  position: absolute;
  bottom: 7vh;
  right: 0;
  width: 220px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bottons {
  width: 4em;
  height: 4em;

  border-radius: 50%;
  border: 0.5px solid black;

  text-align: center;
  line-height: 4em;
  opacity: 0.3;

  cursor: pointer;
}

.bottons.active {
  opacity: 1;
}


#button {
  pointer-events: none;
}


.button {
  all: unset;
  appearance: none;
  -webkit-appearance: none;

  position: absolute;
  bottom: 0px;
  right: -0.2vw;

  letter-spacing: 0.2px;
  padding: 0.6vh 0.2vw;

  text-decoration: underline;
  text-underline-offset: 3px;
  cursor: pointer;

  background-color: transparent;
  border: none;
  opacity: 0.3;  

  text-decoration: underline;
  text-underline-offset: 3px;
}

#messaggio-conferma {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: yellow;
  z-index: 2;
}

.messaggio-conferma {
  position: fixed;
  bottom: 50vh;
  right: 2.5vw;

  transform: translateY(50%);

  letter-spacing: 0.2px;
}




@media (max-width: 767px) {
body {
  font-size: 1em;
}

  .logo {
    position: fixed;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    width: 3.6em;
  }

  .tee {
    width: 90%;
    top: 46%;
  }

  .right-text {
    position: fixed;
    top: auto;
    right: auto;
    left: 50%;
    bottom: 16vh;
    transform: translateX(-50%);
    font-size: 1em;
  }

  .cta {
    position: fixed;
    top: auto;
    right: auto;
    left: 50%;
    bottom: 1vh;
    transform: translateX(-50%);
    font-size: 1em;
    letter-spacing: 0.2px;
    text-underline-offset: 3px;
    width: 100%;
    text-align: center;
    padding: 30px 20px;
    /*background-color: yellow;*/
  }


  form {
    top: auto;
    right: auto;
    bottom: 1vh;
    left: 50%;
    transform: translateX(-50%);
    height: 75vh;
    width: 90%;
  }

  .up {
    bottom: 21vh;
  }

  #exit {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 60%;
  }

  #first-step {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 36%;
  }

  #second-step {
    position: absolute;
    bottom: -20vh;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 36%;
  }

  input[type="email"] {
    bottom: 72%;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 16px;
    text-align: left;
    font-size: 1em;
    width: 80%;
  }

  input:focus {
    border: none;
    border-bottom: 0.7px solid black;
    outline: none;
  }

  .note {
    position: absolute;
    top: auto;
    right: auto;
    bottom: 46%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.6em;
    width: 80%;
    text-align: left;
    opacity: 0.3;
  }

  .titlino {
    position: absolute;
    bottom: 88%;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    width: 80%;
    text-align: left;
  }


  .sizes {
    position: absolute;
    bottom: 48%;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
  }

  .bottons {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    border: 0.5px solid black;
    text-align: center;
    line-height: 4em;
    opacity: 0.3;
  }

  .bottons.active {
    opacity: 1;
  }



  .button {
    padding: 30px 20px;
    width: 100%;
    text-align: center;
    font-size: 1em;
    background-color: transparent;
    border: none;
    letter-spacing: 0.2px;
    text-decoration: underline;
    text-underline-offset: 3px;
    cursor: pointer;
    position: absolute;
    top: auto;
    bottom: 0px;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    opacity: 0.3;
    color: black;
    font-family: 'emmet', 'helvetica', sans-serif;
  }

  
  .messaggio-conferma {
    position: fixed;
    bottom: 42vh;
    right: 50vw;
    transform: translateX(50%) translateY(50%);

    letter-spacing: 0.1px;
  }


}